<p>absences works!</p>
<div class="filtre-container">
  <label for="niveau-select">Filtrer par niveau :</label>
  <select id="niveau-select" [(ngModel)]="selectedNiveau">
    <option value="">Tous les niveaux</option>
    <option *ngFor="let niveau of niveaux" [value]="niveau">{{ niveau }}</option>
  </select>

  <label for="classe-select">Filtrer par classe :</label>
  <select id="classe-select" [(ngModel)]="selectedClasse">
    <option value="">Toutes les classes</option>
    <option *ngFor="let classe of classeStore.classes" [value]="classe.nom">{{ classe.nom }}</option>
  </select>
</div>

<table class="table-absences">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Effectif</th>
      <th>Niveau</th>
      <th>Détails</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let classe of filteredClasses" [appHighlight]="'#FFD23F'">
      <td>{{ classe.nom }}</td>
      <td>{{ classe.effectif }}</td>
      <td>{{ classe.niveau }}</td>
      <td>
        <a [routerLink]="['/classes', classe.nom]" class="btn-details">Détails</a>
      </td>
    </tr>
  </tbody>
</table>
